# passwords
export DOCKERHUB_PW=""
export DOCKERHUB_USER=""

# an email that people can contact you at, used in the git config
export DIRECT_EMAIL=""
export GIT_COMMIT_MESSAGE_FORMAT_GUIDELINES_URL=""

# the gitlab url to make api graphql calls to
export GITLAB_API_GRAPHQL_URL="https://gitlab.com/api/graphql"

# AWS environment variables
export AWS_DEFAULT_REGION=us-east-2
